[submodule "recursos/leccion6/flask-crud-app"]
	path = recursos/leccion6/flask-crud-app
	url = https://github.com/macagua/flask-crud-app.git
[submodule "recursos/leccion6/flask-helloworld"]
	path = recursos/leccion6/flask-helloworld
	url = https://github.com/macagua/flask-helloworld.git
