[submodule "recursos/leccion6/flask-crud-app"]
	path = recursos/leccion6/flask-crud-app
	url = https://github.com/macagua/example.flask.crud-app.git
[submodule "recursos/leccion6/flask-helloworld"]
	path = recursos/leccion6/flask-helloworld
	url = https://github.com/macagua/example.flask.helloworld.git
[submodule "recursos/leccion7/django-helloworld"]
	path = recursos/leccion7/django-helloworld
	url = https://github.com/django-ve/django-helloworld.git
[submodule "recursos/leccion6/flask-admin-dashboard"]
	path = recursos/leccion6/flask-admin-dashboard
	url = https://github.com/macagua/example.flask.admin-dashboard.git
[submodule "recursos/leccion6/flask-api"]
	path = recursos/leccion6/flask-api
	url = https://github.com/macagua/example.flask.api.git
