# Install the sqlacodegen v3.0.0rc1 from github repo.
-e git+https://github.com/agronholm/sqlacodegen.git@3.0.0rc1#egg=sqlacodegen

# Install the packages from PyPi repository.
SQLAlchemy>=1.4.36
python-dotenv==0.21.0
